<!--cart.html-->

{% extends 'base.html' %}
{% block title %} Cart |  {% endblock %}
{% block content %}
<div class="container">
	{% for m in messages %}
		<div class="alert alert-{{m.tags}}">{{m}}</div>
	{% endfor %}

	<div class="row">

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Checking Shopping Cart</h3>
				</div>
			</div>
		
	</div>

	<div class="row">
		<div class="panel panel-info">
			<div class="panel panel-heading" align="center">
				<h3>我的购物车</h3>
			</div>
			<div class="panel panel-body">
				<div class="row" >
				{% for item in cart %}
					<div class="col-md-12">
						<div class="col-md-4">
							<p>{{ item.product.name }}</p>
						</div>
						<div class="col-md-2">
							<p>{{ item.product.price }}</p>
						</div>
						<div class="col-md-2">
							<p>{{ item.quantity }}</p>
						</div>
						<div class="col-md-2">
							<p>小计:{{ item.total_price }}元</p>
						</div>
						<div class="col-md-2" align="center" >
							<a href="{% url 'removeitem_id' item.product.id %}"><span class="glyphicon glyphicon-trash"></span></a>
						</div>
						
					</div>
					<hr>
				{% empty %}
					<div class="col-md-12" align="center">
						<h3>购物车为空~~</h3>
					</div>
				{% endfor %}
				</div>
			</div>

			<div class=" panel-footer" align="right">
				<p>总计:{{ cart.summary }} 元</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}