<!--index.html-->

{% extends 'base.html' %}
{% block title %}Index|{% endblock %}
{% block content %}
<div class="container">
	{% for m in messages %}
	<div class="alert alert-{{ m.tags }}">{{ m }}</div>
	{% endfor %}
	<div class='row'>
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading" align="center">
					<h3>Welcome to M-Shop
						<br>
						【{{category.name| default:'all products'}}】
					</h3>
					

					{% if user.is_authenticated  %}
						{% if user.socialaccount_set.all.0.extra_data.name %}
							{{ user.socialaccount_set.all.0.extra_data.name }}<br>
							<img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="100">
						{% else %}
							Welcome: {{user.username}}
						{% endif %}
					{%  else %}
						<p>If you want to purchase products, please login/sign up.</p>
					{% endif %}
				</div> 
			</div>
		
		</div>
	</div>


	<div id='mansory' class="row">
	{% for product in products %}


				<div class="thumbnail" data-order='{{product.id}}'>
					<img src="{{ product.image.url }}">
					<div class="caption">
						<h4><a href="{% url 'product_url'  product.id %}">{{ product.name }}</a></h4>
						<p>NT$ {{product.price}}</p>
						<p>Stock: {{product.stock}}</p>
						<p>{{product.description}}</p>
						<button class="btn btn-primary" id='add_cart_{{product.id}}' >添加到购物车</button>
					</div>
				</div>


	{% empty %}

			<div class="col-sm-12" align="center">
				<h3>No products</h3>
			</div>

	{% endfor %}
	</div>

	<div class="row" align="center">
		<div class="col-sm-12">
		    {% if products.has_previous %}
		        <button class="btn btn-info">
		            <a href="?p={{ products.previous_page_number }}">Previous</a>
		        </button>
		    {% endif %}
		    <button class="btn btn-info">
		        No.{{ products.number }}
		    </button>
		    {% if products.has_next %}
		        <button class='btn btn-info'>
		            <a href="?p={{ products.next_page_number }}">Next</a>
		        </button>
		    {% endif %}
		</div>

	</div>
	<br>	
</div>
<script>
	var log = console.log.bind(console)
	$(document).ready(function(){
		{% for product in products %}
		//将商品添加到购物车，并改变购物车显示数字
		$('#add_cart_{{ product.id }}').click(function(){
			$.ajax({
				type:'GET',
				url:'{% url 'go_add' product.id 1 %}',

				success: function(response){
					log()
					if (response['cart_num'] < 0){
						alert('无法添加到购物车')
					} else {
						$('#cart_num').html(response['cart_num'])
					}
				},
			})
		})
		{% endfor %}

		//瀑布流mansory
		$('#mansory').mpmansory({
		  childrenClass: '', // default is a div
	      columnClasses: '', //add classes to items
	      breakpoints:{
	        lg: 3, 
	        md: 4, 
	        sm: 6,
	        xs: 12
	      },
	      distributeBy: { order: false, height: false, attr: 'data-order', attrOrder: '-asc' }, 
	      onload: function (items) {
	        //make somthing with items
		  }
		})
	})
</script>

{% endblock %}