<!--order.html-->

{% extends 'base.html' %}
{% block title %} Cart |  {% endblock %}
{% block content %}
<div class="container">
	{% for m in messages %}
		<div class="alert alert-{{m.tags}}">{{m}}</div>
	{% endfor %}

	<div class="row">
		<div class="panel panel-info">
			<div class="panel panel-heading" align="center">
				<h3>我的购物车</h3>
			</div>
			<div class="panel panel-body">
				<div class="row" >
				{% for item in cart %}
					<div class="col-md-12">
						<div class="col-md-offset-2 col-md-4">
							<p>{{ item.product.name }}</p>
						</div>
						<div class="col-md-2">
							<p>{{ item.product.price }}</p>
						</div>
						<div class="col-md-2">
							<p>{{ item.quantity }}</p>
						</div>
						<div class="col-md-2">
							<p>小计:{{ item.total_price }}元</p>
						</div>						
					</div>
					<hr>
				{% empty %}
					<div class="col-md-12" align="center">
						<h3>购物车为空~~</h3>
					</div>
				{% endfor %}
					<div class="col-md-12" align="right">
						<button class="btn btn-warning"><a href="/cart/">回购物车</a></button>
					</div>
				</div>
			</div>

			<div class=" panel-footer" align="right">
				<p>总计:{{ cart.summary }} 元</p>
				<form action="." method="post">
					{% csrf_token %}
					<table>
						{{order_form.as_table}}
					</table>
					<input type="submit" value="下单">
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}